/* Importa a Fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* Variables */
:root {
	--primary: #354544;
	--color-white: #fff;
	--light: #24252A;
	--grey: #5f1a1a;
    --white: white;
	--dark: #313154;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables */

/* Adiciona uma cor a seleção */
::selection {
    color: #fefefe;
    background: #7d0c16d9;
}

span::selection{
	background: transparent;
}

.nn::selection, .num::selection, .num2::selection, .num3::selection, .num4::selection, .num5::selection, .so::selection, .edit::selection, .edita::selection{
	background: transparent;
}

.pts::selection {
	background: #cf8b8b;
}

img::selection {
    background: transparent;
}

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}


.text-input {
	width: 19.5rem;
}

/* End of Resets */

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h2 {
    color: var(--white);
    font-weight: 400;
}

h3 {
	color: var(--white);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.greeting {
    display: flex;
    justify-content: center;
	margin: 0;
	padding: 8px;
	background: #17171a;
}

.greeting .title {
	font-size: 1.8rem;
	font-weight: 500;
}

.s-t {
	font-size: 1.6rem;
    display: flex;
    justify-content: center;
	margin: 3rem auto;
	padding: 8px;
}

.subtitle {
	font-size: 2rem;
	font-weight: 500;
	color: #ffffff;
}

label {
    display: flex;
    color: var(--white);
    font-size: 1.2rem;
    margin: 0.2rem 1rem 1rem 1rem;
}

.cont {
    display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.todo-list {
	margin: 3rem 5rem 0 5rem;
}

.todo-list .list {
    width: 30rem;
	margin: 1rem 2rem;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #121212;
	padding: 0.2rem 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.4rem;
}

.todo-list .vida {
    background-color: #ff5b57;
}

.todo-list .genki {
    background-color: #9a57ff;
}

.todo-list .sanidade {
    background-color: #5a57ff;
}

.todo-list .vigor{
    background-color: #d39b42;
}

.todo-list .pe {
	padding: 0.8rem;
    background-color: #38a74b;
}

.todo-list .xp {
	padding: 0.8rem;
    background-color: rgb(233, 233, 233);
}

.todo-item .nn .v {
	width: 100%;
    color: white;
    font-weight: 500;
}

.tam span {
	text-align: center;
	font-size: 1.5rem;
	cursor: pointer;
}

#vid.num, #gen.num2, #san.num3, #vig.num4, #pde.num5 {
	cursor: pointer;
	text-align: center;
	font-size: 1.5rem;
	width: 7rem;
	margin-left: 1.5rem;
	margin-right: 0;
	padding-inline-start: 1.4rem;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
}

#xp.num6 {
	cursor: pointer;
	color: #24252A;
	font-weight: 500;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.5rem;
	margin-right: auto;
}

.vid.num, .gen.num2, .san.num3, .vig.num4, .pde.num5 {
	cursor: pointer;
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 1.5rem;
	width: 7rem;
	margin-left: 1.5rem;
	margin-right: 0;
	padding-inline-start: 1.4rem;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
}

#so1.so, #so2.so, #so3.so, #so4.so, #so5.so {
	cursor: pointer;
	color: white;
	text-align: center;
	width: 7rem;
	font-size: 1.5rem;
	font-weight: 500;
	margin-left: 1rem;
	margin-right: 2rem;
	padding-inline-end: 3rem;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.so1.so, .so2.so, .so3.so, .so4.so, .so5.so {
	cursor: pointer;
	color: white;
	text-align: center;
	width: 7rem;
	font-size: 1.5rem;
	font-weight: 500;
	margin-left: 1rem;
	margin-right: 2rem;
	padding-inline-end: 3rem;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.todo-item .todo-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 300px;
}

.todo-item .todo-content input {
	color: rgb(121, 120, 120);
	font-weight: 600;
	font-size: 1.125rem;
}

.tam {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55px;
	width: 450px;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.8rem 1.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edita {
	margin-left: 4.6rem;
	background-color: var(--primary);
}

.todo-item .actions .dt {
	margin-left: 2.5rem;
    background-color: #24252A;
} 

.linha {
    content: '';
	display: inline-block;
	height: 46rem;
	width: 3px;
	border-radius: 5px;
    margin-top: 2rem;
	background-color: #2f3034;
}

.lin {
    content: '';
	height: 5rem;
	width: 3px;
	margin: 20px;
	border-radius: 5px;
	background-color: #3a3a3e;
}


.image {
    border-radius: 8px;
    width: 24rem;
    height: 50rem;
    background: linear-gradient(to bottom, #1e0101, #430606, #1e0101);
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.821);
}

picture img {
	padding: 0.5rem;
	margin: 1rem auto;
    width: 390px;
	object-fit: cover;
}

/* Perícias */

.c-pericias {
	max-width: 94.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin: auto;
}

.c-pericias h3 {
	font-size: 1.4rem;
	margin: auto;
	display: flex;
	justify-content: center;
}

.s-pericias h1 {
	color: #bfbfbf;
	max-width: 85rem;
	font-size: 1.8rem;
	font-weight: 500;
	margin: 3rem auto 1rem auto;
	display: flex;
	justify-content: left;
}


.item-p {
    margin: 20px 15px;
    padding: 10px 10px;
    background: linear-gradient(#131316, #1f2025, #131316);
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
    width: 300px;
	justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.item-p p {
	text-align: center;
	color: #bfbfbf;
	font-size: 0.9rem;
}

.item-p input {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	width: 50%;
	margin: 1em auto 2.5em auto;
	border-bottom: #24252A solid 4px;
	font-size: 1.2rem;
	color: rgb(141, 140, 140);
}

.item-p img {
	cursor: pointer;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.item-p2 {
    margin: 20px 15px;
    padding: 10px 10px;
    background: linear-gradient(#131316, #1f2025, #131316);
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
    width: 300px;
	justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.item-p2 p {
	text-align: center;
	color: #bfbfbf;
	font-size: 0.9rem;
}

.item-p2 h3 {
	margin-bottom: 15px;
}

.item-p2 img {
	cursor: pointer;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.shake {
    animation: shake 0.5s infinite;
    animation-iteration-count: 3;
}

@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}

.con-tp {
	padding: 0 5px;
	height: 130px;
	border-radius: 10px;
	background: #24252A;
}

.tput {
	max-width: 220px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.con-tp2 {
	padding: 0 5px;
	height: 100px;
	border-radius: 10px;
	background: #24252A;
}

.tput2 {
	max-width: 160px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.sgb, .sga {
	font-weight: 600;
	color: #4e4f54;
	font-size: 1.5rem;
	margin: 0  5px;
}

.sinal1, .sinal2, .sinal3, .sinal4, .sinal5, .sinal6, .sinal7, .sinal8, .sinal9, .sinal10, .sinal11, .sinal12, .sinal13, .sinal14, .sinal15, .sinal16, .sinal17, .sinal18, .sinal19, .sinal20, .sinal21, .sinal22, .sinal23, .sinal24, .sinal25, .sinal26, .sinal27, .sinal28, .sinal29, .sinal30 {
	font-weight: 600;
	color: #4e4f54;
	font-size: 1.5rem;
	margin: 0  5px;
}

.infs1, .infs2, .infs3, .infs4, .infs5, .infs6, .infs7, .infs8, .infs9, .infs10, .infs11, .infs12, .infs13, .infs14, .infs15, .infs16, .infs17, .infs18, .infs19, .infs20, .infs21, .infs22, .infs23, .infs24, .infs25, .infs26, .infs27, .infs28, .infs29, .infs30 {
	position: absolute;
	font-size: 1rem;
	margin: -25px 15px;
	font-weight: 600;
	color: #4e4f54;
}

.infs31, .infs32, .infs33, .infs34, .infs35, .infs36, .infs37 {
	position: absolute;
	font-size: 1rem;
	margin: -5px 15px;
	font-weight: 600;
	color: #4e4f54;
}

.msgdesastre1, .msgdesastre2, .msgdesastre3, .msgdesastre4, .msgdesastre5, .msgdesastre6, .msgdesastre7, .msgdesastre8, .msgdesastre9, .msgdesastre10, .msgdesastre11, .msgdesastre12, .msgdesastre13, .msgdesastre14, .msgdesastre15, .msgdesastre16, .msgdesastre17, .msgdesastre18, .msgdesastre19, .msgdesastre20, .msgdesastre21, .msgdesastre22, .msgdesastre23, .msgdesastre24, .msgdesastre25, .msgdesastre26, .msgdesastre27, .msgdesastre28, .msgdesastre29, .msgdesastre30, .msgdesastre31, .msgdesastre32, .msgdesastre33, .msgdesastre34, .msgdesastre35, .msgdesastre36, .msgdesastre37 {
	position: absolute;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 10px 15px;
	font-weight: 600;
}

.msgmtboa1, .msgmtboa2, .msgmtboa3, .msgmtboa4, .msgmtboa5, .msgmtboa6, .msgmtboa7, .msgmtboa8, .msgmtboa9, .msgmtboa10, .msgmtboa11, .msgmtboa12, .msgmtboa13, .msgmtboa14, .msgmtboa15, .msgmtboa16, .msgmtboa17, .msgmtboa18, .msgmtboa19, .msgmtboa20, .msgmtboa21, .msgmtboa22, .msgmtboa23, .msgmtboa24, .msgmtboa25, .msgmtboa26, .msgmtboa27, .msgmtboa28, .msgmtboa29, .msgmtboa30, .msgmtboa31, .msgmtboa32, .msgmtboa, .msgmtboa34, .msgmtboa35, .msgmtboa36, .msgmtboa37 {
	position: absolute;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 10px 15px;
	font-weight: 600;
}

.tot1, .tot2, .tot3, .tot4, .tot5, .tot6, .tot7, .tot8, .tot9, .tot10, .tot11, .tot12, .tot13, .tot14, .tot15, .tot16, .tot17, .tot18, .tot19, .tot20, .tot21, .tot22, .tot23, .tot24, .tot25, .tot26, .tot27, .tot28, .tot29, .tot30 {
	font-weight: 500;
	color: white;
	font-size: 1.5rem;
}


.tput p {
	font-size: 1.5rem;
	color: white;
}

.tput2 p {
	font-size: 2rem;
	color: white;
}

.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10, .r11, .r12, .r13, .r14, .r15, .r16, .r17, .r18, .r19, .r20, .r21, .r22, .r23, .r24, .r25, .r26, .r27, .r28, .r29, .r30 {
	margin: 0 10px;
}

.r31, .r32, .r33, .r34, .r35, .r36, .r37 {
	margin: 27px 10px 0 10px;
}


/* PopUp */


.modal-b {
    z-index: 200;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
}


.modal {
    background: rgb(240, 240, 240);
    width: 50%;
    min-width: 300px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 3px 6px #16161a81;
    position: relative;
}

@keyframes modal {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
} 

.mostrar .modal {
    animation: modal 1s ease forwards;
}

.modal .uil {
	position: absolute;
    top: 2px;
    right: 0;
    background: transparent;
    font-size: 1.8rem;
    color: #24252A;
    cursor: pointer;
    width: 50px;
    height: 50px;
}


.modal h3 {
    margin: 2rem 0 1rem 0.8rem;
	font-size: 1.2rem;
    font-weight: 500;
    color: #24252A;
}

.modal h2 {
    margin: 0 0 0.5rem 0.8rem;
	font-size: 1.7rem;
    font-weight: 500;
    color: #24252A;
}


.modal-b.mostrar {
    display: flex;
}
