/* Importa a Fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* Variables */
:root {
	--primary: #354544;
	--color-white: #fff;
	--light: #24252A;
	--grey: #5f1a1a;
    --white: white;
	--dark: #313154;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables */

/* Adiciona uma cor a seleção */
::selection {
    color: #fefefe;
    background: #7d0c16d9;
}

span::selection{
	background: transparent;
}

.nn::selection, .num::selection, .num2::selection, .num3::selection, .num4::selection, .num5::selection, .so::selection, .edit::selection, .edita::selection{
	background: transparent;
}

.pts::selection {
	background: #cf8b8b;
}

img::selection {
    background: transparent;
}

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}


.text-input {
	width: 19.5rem;
}

/* End of Resets */

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h2 {
    color: var(--white);
    font-weight: 400;
}

h3 {
	color: var(--white);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.greeting {
    display: flex;
    justify-content: center;
	margin: 0;
	padding: 8px;
	background: #17171a;
}

.greeting .title input {
	color: rgb(225, 168, 76);
	margin-left: 0.5rem;
	flex: 1 1 0%;
}

.greeting .title, 
.greeting .title input {
	font-size: 1.5rem;
	font-weight: 500;
}

label {
    display: flex;
    color: var(--white);
    font-size: 1.2rem;
    margin: 0.2rem 1rem 1rem 1rem;
}

.cont {
    display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.todo-list {
	margin: 3rem 5rem 0 5rem;
}

.todo-list .list {
    width: 30rem;
	margin: 1rem 2rem;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #121212;
	padding: 0.2rem 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.4rem;
}

.todo-list .vida {
    background-color: #ff5b57;
}

.todo-list .genki {
    background-color: #9a57ff;
}

.todo-list .sanidade {
    background-color: #5a57ff;
}

.todo-list .vigor{
    background-color: #d39b42;
}

.todo-list .pe {
	padding: 0.8rem;
    background-color: #38a74b;
}

.todo-list .xp {
	padding: 0.8rem;
    background-color: rgb(233, 233, 233);
}

.todo-item .nn .v {
	width: 100%;
    color: white;
    font-weight: 500;
}

.tam span {
	text-align: center;
	font-size: 1.5rem;
	cursor: pointer;
}

#vid.num, #gen.num2, #san.num3, #vig.num4, #pde.num5 {
	cursor: pointer;
	text-align: center;
	font-size: 1.5rem;
	width: 7rem;
	margin-left: 1.5rem;
	margin-right: 0;
	padding-inline-start: 1.4rem;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
}

#xp.num6 {
	cursor: pointer;
	color: #24252A;
	font-weight: 500;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.5rem;
	margin-right: auto;
}

.vid.num, .gen.num2, .san.num3, .vig.num4, .pde.num5 {
	cursor: pointer;
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 1.5rem;
	width: 7rem;
	margin-left: 1.5rem;
	margin-right: 0;
	padding-inline-start: 1.4rem;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
}

#so1.so, #so2.so, #so3.so, #so4.so, #so5.so {
	cursor: pointer;
	color: white;
	text-align: center;
	width: 7rem;
	font-size: 1.5rem;
	font-weight: 500;
	margin-left: 1rem;
	margin-right: 2rem;
	padding-inline-end: 3rem;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.so1.so, .so2.so, .so3.so, .so4.so, .so5.so {
	cursor: pointer;
	color: white;
	text-align: center;
	width: 7rem;
	font-size: 1.5rem;
	font-weight: 500;
	margin-left: 1rem;
	margin-right: 2rem;
	padding-inline-end: 3rem;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.todo-item .todo-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 300px;
}

.todo-item .todo-content input {
	color: rgb(121, 120, 120);
	font-weight: 600;
	font-size: 1.125rem;
}

.tam {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55px;
	width: 450px;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.8rem 1.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edita {
	margin-left: 4.6rem;
	background-color: var(--primary);
}

.todo-item .actions .dt {
	margin-left: 2.5rem;
    background-color: #24252A;
} 

.linha {
    content: '';
	display: inline-block;
	height: 46rem;
	width: 3px;
	border-radius: 5px;
    margin-top: 2rem;
	background-color: #2f3034;
}


.image {
	display: flex;
	justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 24rem;
    height: 50rem;
    background: linear-gradient(to bottom, #1e0101, #430606, #1e0101);
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.821);
	transition: 0.5s ease-in-out;
}

picture img {
	padding: 0.5rem;
	margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	transition: 0.5s ease-in-out;
}

/* PopUp */


.modal-b {
    z-index: 200;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
}


.modal {
    background: rgb(240, 240, 240);
    width: 50%;
    min-width: 300px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 3px 6px #16161a81;
    position: relative;
}

@keyframes modal {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
} 

.mostrar .modal {
    animation: modal 1s ease forwards;
}

.modal .uil {
	position: absolute;
    top: 2px;
    right: 0;
    background: transparent;
    font-size: 1.8rem;
    color: #24252A;
    cursor: pointer;
    width: 50px;
    height: 50px;
}


.modal h3 {
    margin: 2rem 0 1rem 0.8rem;
	font-size: 1.2rem;
    font-weight: 500;
    color: #24252A;
}

.modal h2 {
    margin: 0 0 0.5rem 0.8rem;
	font-size: 1.7rem;
    font-weight: 500;
    color: #24252A;
}


.modal-b.mostrar {
    display: flex;
}
